@font-face {
    font-family: 'DM Serif Display Regular';
    src: url('DM_Serif_Display/DMSerifDisplay-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato Regular';
    src: url('Lato/Lato-Regular.ttf') format('truetype');
}