body {
    font-family: 'Poppins Regular';
    background-color: #e7e7e7;
    overflow-x: hidden;
}

.container {
    min-width: 385px;
    width: 80vw;
    height: 200vh;
    margin: 0 auto;
    /* border: 5px solid rgba(7, 252, 81, 0.589); */
}

.section {
    display: flex;
    position: relative;
    margin: 30px auto;
    padding-bottom: 15pt;
    padding-top: 18pt;
    border-radius: 30px;
    box-shadow: 0px 1px 10px #747474;
    min-width: 385px;
    width: 80vw;
}

.section-content {
    margin: 0 8% 0 0;
    padding-left: 20px;
}

.heading {
    font-family: 'Poppins Extra Bold';
    line-height: 1;
    font-size: 5em;
}

.typewriter {
    font-family: 'Poppins Regular', sans-serif;
    font-weight:bold;
    font-size: 1.6em;

}

.grouped-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 50px 0 0;
}

.icon {
    margin: 0 5px 0 5px;
}

.github-icon {
    font-size: 186%;
}

.linkedin-icon {
    font-size: 186%;
}

.resume-button {
    font-family: 'Poppins Bold', sans-serif;
    position: relative;
    bottom: 5px;
    font-size: 1em;
    border-radius: 5px;
    margin-left: 5px;
    width: 150%;
    height: 48.43px;
    border: 0;
    box-shadow: 0px 0px 5px #747474;
    cursor: pointer;
}

/* About Section */
.about {
    padding-bottom: 10px;
}

.about-me {
    margin: 0 auto;
    max-width: 90%;
    font-weight:600;
}

.intro-name {
    display: flex;
    flex-direction: row;
    font-family: 'Poppins Bold';
    font-size: 25px;
    color: #141414;
}

.intro-description {
    display: flex;
    overflow-x: hidden;
    flex-direction: row;
    font-size: 16px;
}

.graduated {
    padding: 0px 2px 0px 2px;
    border-radius: 20px;
    background-color: #990a00;
}

.tech-section {
    /* border: 2px solid blue; */
}

.view-tech {
    display: flex;
    justify-content: center;
}

.arrow-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.arrow-button {
    font-size: 18px;
    padding-top: 10px;
}

.tech-skills {
    display: none;
}

.tech-skills.show {
    display: flex;
    justify-content: center;
}