body {
    font-family: 'Poppins Regular';
    background-color: #e7e7e7;
    overflow-x: hidden;
}

.container {
    display: flex;
    position: relative;
    margin-top: 50px;
    top:10%;
    left: 4.5%;
    margin-bottom: 20px;
    padding-bottom: 18%;
    padding-top: 4%;
    border-radius: 30px;
    width: 90%;
    box-shadow: 0px 1px 5px #747474;
}


.heading {
    font-family: 'Poppins Extra Bold';
    font-size: 5em;
}

.lastname {
    position: relative;
    bottom: 15%;
}

.grouped-icons {
    display: flex;
    /* position: relative; */
    justify-content: center;
    align-content: center;
}

.icon {
    margin: 0 5px 0 5px;
}

.container-content {
    margin-right: 8%;
    position: relative;
    top: 10%;
    left: 5%;
}

.resume-button {
    font-family: 'Poppins Bold', sans-serif;
    font-size: 1em;
    border-radius: 30px;
    width: 175%;
    height: 100%;
    border: 0px;
    box-shadow: 0px 0px 5px #747474;
}