input, textarea {
    background-color: #384658;
    border-radius: 5px;
    /* min-width: 94%; */
    width: 310.391px;
    border: 1px solid #303741;
    padding-inline: 10pt;
    font-family: 'Roboto Regular';
    color: #faf3f3;
    resize: none;
}

textarea {
    height: 112px;
}

input {
    height: 30px;
}

input[type='email'] {
    margin-block: 10px;
}

input:focus, textarea:focus {
    outline: 2px solid #4d6079;
}

textarea::placeholder {
    padding-top: 4px;
}

::placeholder {
    font-family: 'Roboto Bold';
    color: rgb(189, 189, 189, 80%);
}

.submitButton {
    cursor: pointer;
    background-color: #384658;
    font-family: 'Roboto Bold';
    color:#faf3f3;
    border: none;
    border-radius: 10px;
    font-size: 0.9rem;
    width: 87.188px;
    height: 37.672px;
    margin-top: 10px;
}

/* Light Mode */

