h1 {
    font-family: 'Poppins Bold Italic', sans-serif;
    display: flex;
}

body {
    background-color: #e7e7e7;
}

.name-container {
    margin-bottom: 20px;
    padding-bottom: 18%;
    padding-top: 4%;
    /* background-color: aqua; */
}

.about-container {
    padding-top: 4%;
    /* background-color: rgb(90, 255, 200); */
    padding-bottom: 10%;
    padding-left: 10%;
}

#about {
    font-size: 2rem;
}

.about-content {
    /* background-color: aqua; */
    text-align: start;
    font-family: 'Poppins Semi Bold';
}

.project-container {
    font-family: 'Poppins Semi Bold';
    display: flex;
    margin: 11dvw auto 0dvw 12dvw;
    align-items: center;
}